.gradient-custom-2 {
    background: #fccb90;
    background: -webkit-linear-gradient(to right, #ee7724, #FFFFFF, #ee7724);
    background: linear-gradient(to right, #ee7724, #FFFFFF, #ee7724);
    color: black;
}

.gradient-custom-2:hover {
    background: #fccb90;
    color: black;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.9);
}

.shadow-input:hover {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.9);
}

.background-color {
    background-color: #ee7724;
}

.img-styles {
    border-radius: 1rem 0 0 1rem;
}

.title-styles {
    color: #393f81;
}

.title-hover:hover {
    color: #ee7724;
}
    
@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}


.titleEmail {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: bolder;
}

.paragraph-email {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color: black;
}

.marquer {
    background-color: cyan;
}